<div class="global">
  <div class="entete">
    <h1>
      {{title}}
    </h1>
  </div>

  <div>

    <nav class="blocmenu">
      <ul id="menu">
        <li><a href="/">Page d'accueil</a></li>
        <li><a href="/">Activités</a></li>
        <li><a href="/">GS Conakry</a></li>
        <li><a href="/">Evenements</a></li>
      </ul>
    </nav>
    <section class="contenu">
      <p align="center">Site en cours de construction !</p>

      <div align="center">
        <h1 style="color: aquamarine">Disponible dans
        <count-down [text]="text" units="Days | Hours | Minutes | Seconds" end="July 14, 2017"></count-down>
        </h1>
      </div>

    </section>
  </div>
  <div class="pied">
    <h2>
      <p align="center">Pied de page !</p>
    </h2>
  </div>
</div>


